/* this is to enable support for safari ios 
https://stackoverflow.com/questions/35945970/jquery-on-click-not-working-on-iphone-touch-devices
*/
body {
    cursor: pointer;
}

.giphyImg {
    width: 100%;
}
